html, body {
	font-family: 'Nunito', sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #a5a5a5;
	color: #333;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}

div.header {
	font-size: 1.2rem;
	color: maroon;
}

a.phone {
	padding: 10px 0;
	color: #333;
}
	a.phone i {
		font-size: 1.1rem;
		padding-right: 10px;
		color: maroon
	}

.push-right {
	margin-right: 10px;
}

.section {
	margin-top: 50px;
	margin-bottom: 50px;
}
	.sub-menu-header {
		font-weight: 700;
	}

div.new-loc {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}
	div.sub.push {
		margin-bottom: 80px;
	}

	form {
		margin: 0;
		padding: 0;
	}

img {
	border: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #9c2530;
	text-decoration: none;
}

.map {
	width: 350px;
	height:350px;
}

.subsection {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (min-width: 576px) {
	body {
		/*font-size: 16px;*/
	}

	.section {
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.map {
		width: 450px;
		height:450px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 20px;
	}

	.header { font-size: 1rem; }
		
	.section {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.subsection {
		margin-top: 70px;
		margin-bottom: 70px;
	}

	.map {
		width: 100%;
		height: 600px;
	}
}

@media (min-width: 992px) { }
@media (min-width: 1200px) {}